<mat-card fxFlex="100" style="margin:0.1em;">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>{{currentNode.device.name}} - {{currentNode.name}}</h1>
    <div fxLayout="row" class="button-container">
      <button id="opt" mat-icon-button (click)="openDialog()"><mat-icon>more_vert</mat-icon></button>
      <button id="refresh" mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
    </div>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutGap="20" class="container">
    <div class="y-container">
      <svg class="d3svg-vertical" id="vertical{{index}}"></svg>
    </div>
    <div class="chart-container">
      <svg class="d3svg" id="d3svg{{index}}"></svg>
    </div>
  </div>
</mat-card>
