  <mat-card>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>{{currentNode.device.name}} - {{currentNode.name}}</h1>
    <div fxLayout="row" class="button-container">
      <button id="opt" mat-icon-button (click)="openDialog()"><mat-icon>more_vert</mat-icon></button>
      <button id="refresh" mat-icon-button (click)="clearChart(); createChart()"><mat-icon>refresh</mat-icon></button>
    </div>
    </mat-toolbar>
    <mat-card-content>
      <div class="ciao" #cardContent>
        <svg class="d3svg" id="d3svg{{index}}"></svg>
      </div>
    </mat-card-content>
  </mat-card>