/* ::ng-deep .mat-card mat-focus-indicator{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} */
.container{
  height: 530px;
}
.y-container{
  float: left;
}
.chart-container{
  overflow-x: auto;
  overflow-y: hidden;
  /*margin-left: -100px;*/
}
.d3svg{
  width: 1150px;
  height: 550px;
}
mat-card-content{
  height: 100%;
  width: 100%;
}
mat-card{
  height: 100%;
  width: 100%;
}
::ng-deep .d3svg title {
  fill: black;
  text-anchor: middle;
}

::ng-deep .d3svg line,
::ng-deep .d3svg path {
  fill: none;
  stroke-width: 1.5;
}

::ng-deep .d3svg path.chart-path {
  stroke: #69b3a2;
}

/* TODO: Scegli colori migliori */
::ng-deep .d3svg line.line-media {
  stroke: green;
}

::ng-deep .d3svg line.line-limite {
  stroke: red;
}

/* TODO: Decidi se è ok */
::ng-deep .d3svg circle {
  r: 0.3em;
}

::ng-deep .d3svg circle.circle-normal {
  fill: #69b3a2;
}

::ng-deep .d3svg circle.circle-anomalo {
  fill: red
}
