.container{
  height: 530px;
}
.y-container{
  float: left;
  width: 10px;
}
.chart-container{
  overflow-x: auto;
  overflow-y: hidden;
}
/* .d3svg{
  width: 1150px;
  height: 550px;
}
 */
.d3svg line.line-zona-c-up, .d3svg line.line-zona-c-down {
  stroke: green;
  opacity: 30%;
}

 .d3svg line.line-zona-b-up, .d3svg line.line-zona-b-down {
  stroke: red;
  opacity: 30%;
}

 .d3svg title {
  fill: black;
  text-anchor: middle;
}

.d3svg line,
 .d3svg path {
  fill: none;
  stroke-width: 1.5;
}

 .d3svg path.chart-path {
  stroke: #69b3a2;
}

 .d3svg line.line-media {
  stroke: green;
}

 .d3svg line.line-limite {
  stroke: red;
}

.d3svg circle {
  r: 0.3em;
}

 .d3svg circle.circle-normal {
  fill: #69b3a2;
}

 .d3svg circle.circle-anomalo {
  fill: red
}
