<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <h2>
    Modifica password
  </h2>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="modifyPw" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Password corrente</mat-label>
      <input matInput type="password" formControlName="oldPassword"/>
      <mat-error>Campo obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Nuova password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="modifyPw.controls['newPassword'].errors?.['required']">
        Campo obbligatorio
      </mat-error>
      <mat-error *ngIf="modifyPw.controls['newPassword'].errors?.['mustBeDifferent']">
        Password corrente e nuova devono essere differenti
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Conferma nuova password</mat-label>
      <input matInput type="password" formControlName="newPasswordRe"/>
      <mat-error *ngIf="modifyPw.controls['newPasswordRe'].errors?.['mismatch']">
        Le due password non coincidono
      </mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="cancel()">
      Annulla
    </button>
    <button mat-raised-button color="accent" [disabled]="modifyPw.invalid || modifyPw.pristine" (click)="confirm()">
      Conferma
    </button>
  </mat-dialog-actions>
</div>
