<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <h2>
    Modifica password
  </h2>
  <button mat-icon-button (click)="cancel()" tabindex="-1">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="modifyPw" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Password corrente</mat-label>
      <input matInput type="text" style="-webkit-text-security: disc;" formControlName="oldPassword" name="old-password"/>
      <mat-error>Campo obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" *ngIf="modifyPw.get('newPassword') as formControl">
      <mat-label>Nuova password</mat-label>
      <input matInput type="text" style="-webkit-text-security: disc;" formControlName="newPassword" name="new-password"/>
      <mat-error *ngIf="formControl.errors?.['required']">
        Campo obbligatorio
      </mat-error>
      <mat-error *ngIf="formControl.errors?.['mustBeDifferent']">
        Password corrente e nuova devono essere differenti
      </mat-error>
      <mat-error *ngIf="formControl.errors?.['minlength']">
        La password deve contenere almeno 6 caratteri
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Conferma nuova password</mat-label>
      <input matInput type="text" style="-webkit-text-security: disc;"  formControlName="newPasswordRe"  name="new-password-re"/>
      <mat-error *ngIf="modifyPw.controls['newPasswordRe'].errors?.['mismatch']">
        Le due password non coincidono
      </mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="cancel()">
      Annulla
    </button>
    <button mat-raised-button color="accent" [disabled]="modifyPw.invalid || modifyPw.pristine" (click)="confirm()">
      Conferma
    </button>
  </mat-dialog-actions>
</div>
