#h2_macchine{
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.row {
  display:flex;
  width: 100%;
}
.column {
  flex: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 1em;
  margin-top: 3em;
  text-align: center;
}
.machines {
   margin: auto;
   list-style-type: none;
   padding: 0;
   width: 15em;
   font-size: 1.3em;
 }
 .machines li {
   cursor: pointer;
   position: relative;
   left: 0;
   background-color: #EEE;
   margin: .5em;
   padding: .4em;
   height: fit-content;
   border-radius: 4px;
 }
 .machines li:hover {
   color: #2c3a41;
   background-color: #e6e6e6;
   left: .1em;
 }
 .machines li.selected {
   background-color: black;
   color: white;
 }
 .machines li.selected:hover {
   background-color: #505050;
   color: white;
 }
 .machines li.selected:active {
   background-color: black;
   color: white;
 }