@media (min-width: 767px) {
  .mat-dialog-container {
    min-width: 500px;
    max-width: 500px;
    width: 500px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .mat-dialog-container {

    min-width: 90vw;
    max-width: 90vw;
    width: 90vw;
    padding: 0;
  }
}
.mat-dialog-content {
  margin: 0;
  padding: 24px;
}
