<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <h2>
    {{editMode ? 'Modifica utente' : 'Inserisci un nuovo utente'}}
  </h2>
  <button mat-icon-button (click)="cancel()" tabindex="-1">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-form-field *ngIf="formGroup.get('username') as field" appearance="outline" floatLabel="always">
        <mat-label>
          Nome utente
        </mat-label>
        <input matInput formControlName="username" name="username" autocomplete="new-username" />
        <mat-error *ngIf="field.hasError('required')">
          Il campo è richiesto
        </mat-error>
        <mat-error *ngIf="field.hasError('duplicateUsername')">
          Esiste già un utente con questo username
        </mat-error>
      </mat-form-field>
      <mat-checkbox fxFlex="40" formControlName="administrator">
        Amministratore
      </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>
          Password
        </mat-label>
        <input matInput formControlName="password" name="password" type="password" autocomplete="new-password" />
        <mat-error>
          La password non rispetta i criteri minimi di sicurezza.
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle *ngIf="editMode" (change)="toggleChangePassword($event.checked)">
        Cambia password
      </mat-slide-toggle>
    </div>
  </form>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="cancel()">
      Annulla
    </button>
    <button mat-raised-button color="accent" [disabled]="formGroup.invalid || formGroup.pristine" (click)="confirm()">
      Conferma
    </button>
  </mat-dialog-actions>
</div>
