<div *ngIf="isLogged()"> 
   <mat-toolbar class="tool-bar" color="accent">
      <a mat-button id="produlytics" routerLink="/"><span>Produlytics</span></a>
      <span id="spacer1"></span>
      <button mat-button [matMenuTriggerFor]="menu" >Nome utente<mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item *ngIf="isAdmin" routerLink="/gestione-macchine">Gestione macchine</button>
         <button mat-menu-item *ngIf="isAdmin" routerLink="/gestione-utenti">Gestione utenti</button>
         <button mat-menu-item (click)="openPwDialog()">Modifica password</button>
         <button mat-menu-item (click)="logout()">Logout</button>
       </mat-menu>
   </mat-toolbar>
</div>