<div *ngIf="isLogged()">
   <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="accent">
       <button mat-button id="produlytics" fxLayoutAlign="start center" routerLink="/" matTooltip="Torna alla dashboard">
           <mat-icon id="home">home</mat-icon>
           <span>
               Produlytics
           </span>
       </button>
      <div >
         <button mat-button [matMenuTriggerFor]="menu" id="username">
         <mat-icon id="user">account_circle</mat-icon>
         <span>{{getUsername()}}</span></button>
      </div>
      <mat-menu id="matMenu" #menu="matMenu">
         <button mat-menu-item id="gm" *ngIf="isAdmin()" routerLink="/gestione-macchine">Gestione macchine</button>
         <button mat-menu-item id="gu" *ngIf="isAdmin()" routerLink="/gestione-utenti">Gestione utenti</button>
         <button mat-menu-item id="pw" (click)="openPwDialog()">Modifica password</button>
         <button mat-menu-item id="logout" (click)="logout()">Logout</button>
       </mat-menu>
   </mat-toolbar>
</div>
