<div class="deltax-content">
  <mat-card>
    <mat-toolbar mat-card-title color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <a mat-icon-button routerLink="/gestione-macchine" matTooltip="Torna all'elenco">
        <mat-icon>
          arrow_back
        </mat-icon>
      </a>
      <span fxFlex>
        Nuova macchina
      </span>
      <button mat-raised-button [disabled]="formGroup.invalid || formGroup.pristine || characteristics.length === 0" (click)="insertDevice()" fxHide.lt-sm>
        Conferma dati
      </button>
      <button mat-mini-fab [disabled]="formGroup.invalid || formGroup.pristine || characteristics.length === 0" (click)="insertDevice()" fxHide.gt-xs>
        <mat-icon>
          save
        </mat-icon>
      </button>
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field fxFlex.lt-sm="100" *ngIf="formGroup.get('name') as field" appearance="outline" floatLabel="always">
          <mat-label>
            Nome
          </mat-label>
          <input matInput formControlName="name" name="name" />
          <mat-error *ngIf="field.hasError('required')">
            Il campo è richiesto
          </mat-error>
          <mat-error *ngIf="field.hasError('duplicateDeviceName')">
            Esiste già una macchina con questo nome
          </mat-error>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
      <mat-card-subtitle style="margin-top: 8px" fxLayout="row" fxLayoutAlign="space-between center">
        <span>
          Caratteristiche
        </span>
        <button mat-stroked-button color="accent" (click)="openNewCharacteristicDialog()" fxHide.lt-sm>
          Nuova caratteristica
        </button>
        <button mat-mini-fab color="accent" (click)="openNewCharacteristicDialog()" fxHide.gt-xs>
          <mat-icon>
            add
          </mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-table [dataSource]="characteristics">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.lt-sm>
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="15" fxFlex.lt-sm>
            {{row.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="limits">
          <mat-header-cell *matHeaderCellDef fxHide.lt-sm>
            Limiti
          </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide.lt-sm>
            <ng-container *ngIf="row.autoAdjust" class="green-text">
              <ng-container *ngIf="row.sampleSize">
                Calcolo dei limiti automatico su un campione di {{row.sampleSize}} elementi.
              </ng-container>
              <ng-container *ngIf="!row.sampleSize">
                Calcolo dei limiti automatico sull'intero dataset.
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!row.autoAdjust">
              [{{row.lowerLimit}}, {{row.upperLimit}}]
            </ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef fxFlex="64px" fxFlex.lt-sm="40px"></mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="64px" fxFlex.lt-sm="40px">
            <button mat-icon-button (click)="removeCharacteristic(row)">
              <mat-icon class="red-text">
                delete
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <em *ngIf="characteristics.length === 0">Bisogna inserire almeno una caratteristica</em>
    </mat-card-content>
  </mat-card>
</div>
