<div fxLayoutAlign="center center" fxFlexFill>
   <mat-card fxFlex="25">
      <h2>Login</h2>
      <form fxLayoutAlign="stretch" fxLayout="column">
         <mat-form-field appearance="fill">
            <mat-label>Nome utente</mat-label>
            <input matInput>
         </mat-form-field>
         <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password">
         </mat-form-field>
         <mat-checkbox>Ricordami</mat-checkbox>
         <button mat-button type="submit">Login</button>
      </form>
   </mat-card>
</div>