<div class="deltax-content">
  <mat-card>
    <!-- HEADER -->
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>
        Gestione macchine
      </h1>
      <button mat-stroked-button (click)="createDevice()">
        Nuova macchina
      </button>
    </mat-toolbar>
    <!-- CONTENT -->
    <mat-card-content>
      <mat-table [dataSource]="devices" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header="name">
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let device">
            {{device.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
          <mat-cell *matCellDef="let device" fxFlex="64px">
            <button mat-icon-button (click)="openDeviceDetail(device)" matTooltip="Apri dettaglio">
              <mat-icon>
                manage_search
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activation">
          <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
          <mat-cell *matCellDef="let device" fxFlex="64px">
            <button
              mat-icon-button
              (click)="toggleActivationDevice(device)"
              [matTooltip]="device.deactivated ? 'Attiva macchina' : 'Disattiva macchina'"
            >
              <mat-icon [ngClass]="{
              'green-text': !device.deactivated,
              'red-text': device.deactivated
            }">
                {{device.deactivated ? 'toggle_on' : 'toggle_off'}}
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
          <mat-cell *matCellDef="let device" fxFlex="64px">
            <button
              mat-icon-button
              (click)="toggleStatusDevice(device)"
              [matTooltip]="device.archived ? 'Ripristina macchina' : 'Archivia macchina'"
            >
              <mat-icon [ngClass]="{
              'red-text': !device.archived
            }">
                {{device.archived ? 'restore_from_trash' : 'delete'}}
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
