#h2_caratteristiche{
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.characteristics {
   margin: auto;
   list-style-type: none;
   padding: 0;
   width: 15em;
   font-size: 1.3em;
 }

 .characteristics li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .4em;
  height: fit-content;
  border-radius: 4px;
}
 .characteristics li:hover {
   color: #2c3a41;
   background-color: #e6e6e6;
   left: .1em;
 }
 .characteristics li.selected {
   background-color: black;
   color: white;
 }
 .characteristics li.selected:hover {
   background-color: #505050;
   color: white;
 }
 .characteristics li.selected:active {
   background-color: black;
   color: white;
 }