<mat-sidenav-container id="selection" > <!-- (backdropClick)="sidenav.close()" -->
  <mat-sidenav #sidenav mode="side" opened> <!-- (keydown.escape)="sidenav.close()" -->
    <app-device-selection (devicesChanged)="onSubmit($event)"></app-device-selection>
  </mat-sidenav>
  <mat-sidenav-content class="deltax-content">
    <div *ngIf="this.characteristics.length == 0" id="placeholder"></div>
    <div fxLayout="column" fxLayoutGap="16px" class="chart-container" *ngFor="let tile of characteristics; let i = index">
      <app-chart [currentNode] = tile [index] = i></app-chart>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>