<!--Selezione macchine-->
<mat-sidenav-container id="selection">
  <mat-sidenav #selectionSidenav mode="side" [opened]="!mobile">
    <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading"></mat-progress-bar>
    <ng-container *ngIf="!dataSource.loading">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-title-container">
        <span class="sidenav-title" matTooltip="Per iniziare, si espanda una macchina per visualizzare le caratteristiche. Per monitorare le caratteristiche, selezionarle tramite le caselle di controllo e infine confermare la scelta tramite l'apposito bottone.">
          Monitoraggio caratteristiche
        </span>
        <button mat-stroked-button color="primary" (click)="notifyChange(); mobile && selectionSidenav.close()">
          Conferma
        </button>
      </div>
      <mat-tree class="sidenav-content" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox [checked]="nodeIsChecked(node)"
                        (change)="$event.checked ? checkNode(node) : uncheckNode(node)">
            {{node.name}}
          </mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChildren" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle *ngIf="!dataSource.isNodeLoading(node)">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-spinner diameter="24" style="margin: 8px" *ngIf="dataSource.isNodeLoading(node)"
                       mode="indeterminate"></mat-spinner>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </ng-container>

  </mat-sidenav>
  <mat-sidenav-content class="deltax-content">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button fxHide.gt-md mat-icon-button (click)="selectionSidenav.toggle()">
          <mat-icon>
            {{selectionSidenav.opened ? 'arrow_back' : 'menu'}}
          </mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutGap="12px">
        <div class="carousel-button">
          <button mat-stroked-button color="primary" (click)="openCarouselDialog()">Carosello</button>
        </div>
      </div>
      </div>
    <!--Carosello-->
    <ngb-carousel #carousel [interval]="carouselInterval*1000"
     [pauseOnHover]="false" [pauseOnFocus]="false" *ngIf="showCarousel" [showNavigationIndicators]="false">
      <ng-container *ngFor="let tile of checkedNodes; let i = index">
        <ng-template ngbSlide class="slide1">
          <app-chart [currentNode]=tile [index]=i></app-chart>
        </ng-template>
      </ng-container>
    </ngb-carousel>
    <!--Grafici-->
    <div *ngIf="!showCarousel">
    <div fxLayout="column" fxLayoutGap="16px" class="chart-container" *ngFor="let tile of checkedNodes; let i = index">
      <app-chart [currentNode]=tile [index]=i></app-chart>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


