mat-sidenav {
  width: 20%;
  min-width: 320px;
}

mat-sidenav-container{
  height: calc(100vh - 70px);
}
@media screen and (min-width: 1280px){
  .carousel-button {
      margin-top: -20px;
  }
}

.carousel-control-prev {
  position: absolute;
  vertical-align: center;
  width: 3rem;
  height: 5rem;
}

.carousel-control-next {
  position: absolute;
  width: 3rem;
  height: 5rem;
}

.carousel-control-prev-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
  width: 1.5rem;
}

.carousel-control-next-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png');
  width: 1.5rem;
}

.carousel-button {
  margin-right: 16px;
}

.sidenav-title-container {
  padding: 6px;
  height: 48px;
  max-height: 48px;
}

.sidenav-title {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 1280px){
  .app-chart {
    width: 1170px;
  }
}

.sidenav-content {
  height: calc(100% - 100px);
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

