<mat-sidenav-container id="selection" > <!-- (backdropClick)="sidenav.close()" -->
  <mat-sidenav #sidenav mode="side" opened> <!-- (keydown.escape)="sidenav.close()" -->
    <app-device-selection (devicesChanged)="onSubmit($event)"></app-device-selection>
  </mat-sidenav>
  <mat-sidenav-content class="deltax-content">
    <mat-grid-list cols="2" rowHeight="{{height}}">
      <mat-grid-tile *ngFor="let tile of characteristics; let i = index" [colspan]="this.colspan" [rowspan]="this.rowspan">
        <div class="chart-container">
          <app-chart [currentNode] = tile [index] = i></app-chart>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngb-carousel *ngIf="!showCarousel">
  <ng-template *ngFor="let tile of characteristics; let i = index" ngbSlide>
    <div>
      <svg class="d3svg" id="d3svg{{i}}"></svg>
    </div>
  </ng-template>
</ngb-carousel>