<div class="deltax-content">
  <mat-card>
    <mat-toolbar mat-card-title color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <a mat-icon-button routerLink="/gestione-macchine" matTooltip="Torna all'elenco">
        <mat-icon>
          arrow_back
        </mat-icon>
      </a>
      <span fxFlex>
        {{device.name}}
      </span>
      <mat-icon>
        key
      </mat-icon>
      <span matTooltip="Identificativo">
        {{device.id}}
      </span>
    </mat-toolbar>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-form-field fxFlex floatLabel="always">
          <mat-label>
            Nome macchina
          </mat-label>
          <input matInput [formControl]="deviceNameControl" />
          <mat-error *ngIf="deviceNameControl.hasError('required')">
            Il nome è richiesto
          </mat-error>
          <mat-error *ngIf="deviceNameControl.hasError('duplicateDeviceName')">
            Un'altra macchina ha questo nome
          </mat-error>
        </mat-form-field>

        <button mat-stroked-button (click)="updateDeviceName()" [disabled]="newNameInvalid()">
          Aggiorna nome
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-form-field fxFlex floatLabel="always">
          <mat-label>
            Chiave API
          </mat-label>
          <input matInput readonly [value]="device.apiKey" />
          <button matSuffix mat-icon-button matTooltip="Copia contenuto"
                  [cdkCopyToClipboard]="device.apiKey"
                  (cdkCopyToClipboardCopied)="notifyCopy()">
            <mat-icon>
              content_copy
            </mat-icon>
          </button>
        </mat-form-field>
        <mat-chip-list disabled>
          <mat-chip *ngIf="device.deactivated" disableRipple>
            Disattivata
          </mat-chip>
          <mat-chip *ngIf="!device.deactivated" class="bg-green" disableRipple>
            Attivata
          </mat-chip>
          <mat-chip *ngIf="device.archived" selected color="warn" disableRipple>
            Archiviata
          </mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider></mat-divider>
      <mat-card-subtitle style="margin-top: 8px" fxLayout="row" fxLayoutAlign="space-between center">
        <span>
          Caratteristiche
        </span>
        <button mat-stroked-button color="accent" (click)="openNewCharacteristicDialog()">
          Nuova caratteristica
        </button>
      </mat-card-subtitle>
      <mat-table [dataSource]="characteristics">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let characteristic">
            {{characteristic.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
          <mat-cell *matCellDef="let characteristic" fxFlex="64px">
            <button mat-icon-button (click)="openUpdateCharacteristicFormDialog(characteristic)">
              <mat-icon>
                edit
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
          <mat-cell *matCellDef="let characteristic" fxFlex="64px">
            <button mat-icon-button (click)="toggleCharacteristicStatus(characteristic)">
              <mat-icon [ngClass]="{
              'red-text': !characteristic.archived
            }">
                {{characteristic.archived ? 'restore_from_trash' : 'delete'}}
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" aria-label="Select page of characteristic"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
