.content {
  padding: 24px;
}

.content .mat-form-field-wrapper {
  padding-bottom: 0;
}

.content .bg-green {
  background-color: forestgreen;
  color: white;
}

.mat-toolbar {
  padding: 24px;
}

.mat-card {
  padding: 0;
  min-width: 400px;
  margin-bottom: 16px;
}
